body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gradient Behind Text Reveal */
#home-intro {
    position: absolute;
    margin-top: 100px;
    width: 50vw;
    overflow: hidden;
    z-index: 100;
}

#intro {
    position: sticky;
    top: 0;
    /* transform: translateY(50%); */
    max-width: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    overflow: hidden;

    z-index: 25;
}

#intro .text{
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
    margin: 0;

    background-color: black;
    outline: 5px solid black;
    mix-blend-mode: multiply;
    
    z-index: 5;
}

#gradient {
    position: absolute;
    width: 100vw;
    height: 75rem;
    top: 100%;

    filter: blur(5px);
    background: linear-gradient(180deg, transparent 0%, var(--orange) 25%, rgba(255,177,133,1) 48%, rgba(255,177,133,1) 52%, var(--orange) 75%, transparent 100%);
}
/* ^ Gradient Behind Text Reveal ^ */

/* Name Reveal */
#hero-climax {
    margin-top: -35vh;
    display: flex;
    flex-direction: column;
    z-index: 50;
}

#hero-climax span {
    position: sticky;
    top: 25vh;
    z-index: 50;
}

#hero-climax h2 {
    font-family: Tornado;
    letter-spacing: 0.25em;
    color: black;

    padding: 0;
    margin: 0;
}

#hero-climax h3 {
    position: relative;
    letter-spacing: 0.25em;
    font-weight: 600;
    font-size: 2rem;
    color: black;

    left: 5em;
    margin: 0;
}

.big-gradient {
    height: auto;
    z-index: 0;
}
/* ^ Name Reveal ^ */

/* Paint Jobs */
#specs {
    --main: #fe5c00;
    --secondary: black;
    --complementary: yellow;

    height: 200vh;
    padding-top: 2rem;

    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, var(--dark-gray) 40%);
}

#color-toggle {
    position: sticky;
    top: calc(var(--nav-height) + 1px);
    padding: 0.3rem 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    font-size: 1.25rem;

    z-index: 50;
    width: 100vw;
    background: rgba(48, 48, 48, 0);
    backdrop-filter: blur(10px);
}

#color-toggle > span {
    position: absolute;

    text-align: right;
    transform: translateX(-11rem);
}

.color-button {
    width: 1.25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0.5rem 0;
    box-shadow: 0 0 0 0.2rem white;

    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.color-button.current {
    transform: scale(1.1);
    box-shadow: 0 0 0 0.25rem white;
}

#pj-orange {
    background: var(--orange);
}

#pj-buzz {
    background: linear-gradient(135deg, rgba(117,61,160,1) 25%, rgba(75,206,32,1) 100%);
}

#pj-phoenix {
    background: linear-gradient(135deg, rgba(77,77,77,1) 30%, rgba(254,92,0,1) 100%);
}

#pj-orange {
    background: var(--orange);
}

#pj-display {
    margin-top: 2rem;

    display: grid;
    place-items: center;
}

#pj-display img {
    height: 80vh;
    width: auto;
}

/* Info Tabs for Plane */
#info {
    display: block;
    width: 40vw;
    
    margin: 1rem;
    padding: 1rem;

    font-size: 1.1rem;
    letter-spacing: 0.1em;

    color: white;
    background: var(--dark-gray);
}

#info > ul {
    height: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0;
    
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border-top: 0.5px solid rgba(255, 255, 255, 0.25);
}

#info > ul.bottom {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}

#info > ul > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info > ul > div span {
    pointer-events: none;
}

#info > ul > div svg {
    pointer-events: none;
}

#info li {
    width: 100%;
    padding-left: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}

#info .tab rect {
	fill: white;
	transition: all 400ms;
    transform-origin: 50% 50%;
}

#info li > img {
    width: 80%;
}

/* Open */
#info > ul.open {
    height: 60vh;
    
    box-shadow: inset 0 0 0 2px var(--main);
}

#info .open > div {
    margin-bottom: 0.5rem;
}

#info .open > li {
    display: block;
    margin-bottom: 0.25rem;
}

#info .open .tab .vertical-line {
	opacity: 0;
	transform: rotate(90deg);
}

/* Closed */
#info .closed .tab {
	opacity: 1;
}

#info .closed > li {
    display: none;
}
/* ^ Info Tabs for Plane ^ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .big-gradient {
        width: 100%;
    }

    #hero-climax h2 {
        font-size: 3rem;
    }

    #hero-climax h3 {
        font-size: 1rem;
        left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .big-gradient {
        width: 768px;
    }

    #hero-climax h2 {
        font-size: 5rem;
    }

    #hero-climax h3 {
        font-size: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .big-gradient {
        width: 1025px;
    }

    #hero-climax h2 {
        font-size: 6rem;
    }

    #hero-climax h3 {
        font-size: 1rem;
    }
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
    #hero-climax h2 {
        font-size: 7rem;
    }

    #hero-climax h3 {
        font-size: 1rem;
    }

    .big-gradient {
        width: 1440px;
    }

    #pj-display {
        position: sticky;
        top: 10rem;
    }

    #info-container {
        position: sticky;
        top: 10rem;

        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 1440px) {
    .big-gradient {
        width: 100%;
    }

    #hero-climax h2 {
        font-size: 7rem;
    }
}

/* Large devices (laptops/desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {
    #intro .text {
        font-size: 2rem;
    }

    #info {
        width: 80vw;
    }

    #specs {
        height: auto;
    }
}

/* Main Snapping Point For Mobile */
@media only screen and (max-width: 768px) {
    #color-toggle > span {
        display: none;
    }

    #intro {
        max-width: 80vw;
    }

    #home-intro {
        position: absolute;
        margin-top: 100px;
        width: 75vw;
        overflow: hidden;
        z-index: 100;
    }

    #pj-display img {
        width: 80vw;
        height: auto;
    }
}